{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}

{% block body %}
    <div class="media">
        {% if vich_uploader_asset(program) %}
            <img class="align-self-start mr-3" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
        {% else %}
            <img class="align-self-start mr-3" src="{{ asset('build/images/' ~ program.poster ~ '.jpg') }}" alt="{{ program.title }} poster">
        {% endif %}
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
        </div>
        <div class="media-body">
            <h2 class="mt-0">Saison n°: {{ season.number }}</h2>
        </div>
        <h2>{{ episode.number }} : {{ episode.title }}</h2>
        <p>{{ episode.synopsis }}</p>
        {% if app.user %}
            {{ include('comment/_form.html.twig') }}
        {% endif %}
        {% for comment in comments %}
        <p>{{ comment.comment }}</p>
        <p>{{ comment.rate }}</p>
        <p>{{ comment.author.email }}</p>
                {% if comment.author.id == app.user.id %}
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>
                    <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                {% endif %}
            {%  if is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    <button class="btn">Delete</button>
                </form>
            {% endif %}
        {% endfor %}
        <a href="{{ path('episode_show', {'slug': episode.slug}) }}">show</a>
        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">edit</a>
    </div>
{% endblock %}