{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ asset('build/images/' ~ program.poster ~ '.jpg') }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Saisons disponibles :</p>
            {% for season in program.seasons %}
                <a href="{{ path('program_showSeason', { 'program': program.id , 'season': season.id }) }}">Saison : {{ season.number }}</a>
                <br>
            {% else %}
                <p>Aucune saison disponible</p>
            {% endfor %}
            {% for actor in program.actors %}
                <a href="{{ path('actor_show', { 'id': actor.id }) }}">Acteur / Actrice : {{ actor.name }}</a>
                <br>
            {% else %}
                <p>Aucun acteur disponible</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}