<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="category/Action">Action</a></li>
                        <li><a class="dropdown-item" href="category/Comédie">Comédie</a></li>
                        <li><a class="dropdown-item" href="category/Horreur">Horreur</a></li>
                        <li><a class="dropdown-item" href="category/Romance">Romance</a></li>
                        <li><a class="dropdown-item" href="category/Sciencefiction">Science-Fiction</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acteurs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Acteurs</a></li>
                        <li><a class="dropdown-item" href="#">Actrices</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Tous les acteurs</a></li>
                        <li><a class="dropdown-item" href="{{ path('program_new') }}">Ajouter une série</a></li>
                        <li><a class="dropdown-item" href="{{ path('season_new') }}">Ajouter une saison</a></li>
                        <li><a class="dropdown-item" href="{{ path('episode_new') }}">Ajouter un épisode</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('program_index') }}">Toutes les séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inscription</a>
                </li>
                {% if app.user %}
                    {{ app.user.email }}
                    <li>
                        <a href="{{ path('logout') }}"> Se déconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('login') }}"> Se connecter</a>
                    </li>

                {% endif %}
            </ul>
        <!--   A rajouter plus tard
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>  -->
        </div>
    </div>
</nav>